﻿@model BaseSoftwareArchitecture.UI.WebMvc.Models.ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="">
		@foreach (var item in Model.Products)
		{
			@item.ProductName
			<br />
			@item.UnitPrice
			<hr>
		}
    </div>
</body>
</html>
